/*
	DESIGN
	Author: Gregory Evans;
	Email: daypack@gmail.com
	Date: 17/12/2016
*/

* {
	line-height: @line-height;
}

body {
	background-image:url("@{base-url}/assets/src/img/dev/baseline.png");;
}

.header {
	display: none;
}

.content {
	width: 800px;
	margin: 0 auto;
}