/*
	DESIGN
	Author: Gregory Evans;
	Email: daypack@gmail.com
	Date: 17/12/2016
*/

body {
	// position: relative;
	overflow-y: scroll;
}

* {
	line-height: @line-height;
}

.hide {
	display: none;
}

.wrapper {
	// background-image:url("@{base-url}/assets/src/img/dev/baseline.png");
}

.header {
	padding: 12px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	background: rgba(255, 255, 255, 1);
	font-size: 24px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

	#title {
		position: relative;
		z-index: 100;
		cursor: pointer;
	}

	a {
		color: @colour-main;

		&:hover {
			color: @colour-secondary;
		}
	}

	#menu {
		position: relative;
		z-index: 100;
		float: right;
	}

	#menu-container {
		position: fixed;
		background: rgba(255, 255, 255, 1);
		height: 100%;
		top: 0;
		left: 0;
		right: 0;

		.menu-nav {
			margin: 0 auto;
			text-align: center;
			width: 100%;
			margin-top: 15%;

			li {
				display: inline;

				a {
					padding: 10px 20px;
					color: @colour-main;
					cursor: pointer;

					&:hover {
						color: @colour-secondary;
					}
				}

		 		&:last-child a {
		 			// border-right: 1px solid @grey-50;
		 		}
		 	}
		}
	}
}

.container {
	width: 800px;
	margin: 0 auto;
}

.banner {
	width: 100%;
	height: 24px * 16;
	// background: svg-gradient(to bottom, lighten(@colour-main, 50%), @colour-main);
	// border-bottom: 25px solid @colour-secondary;
	background: @colour-main;

	&.full {
		height: 100vh;

		.banner-container {
			position: absolute;
		    width: 100%;
		    top: 30%;
		}

		.banner-text {
		    width: 100%;
		    text-align: center;
		    font-size: 34px;
		    color: @white;
		    margin: 0 auto;
		    line-height: 34px;
		    text-shadow: 0 0 5px rgba(0, 0, 50px, 0.75);

		    h1 {
		    	margin-top: 0;
		    	margin-bottom: 24px;
		    	color: @white;
		    	text-align: center;
		    	position: relative;
		    }

		    .ticker {
		    }

		    p {
		    	font-size: 32px;
		    	line-height: 48px;
		    }
		}

		.kudu {
			position: absolute;
			width:  64px;
			height: 64px;
			background: url("@{base-url}/assets/dist/img/icons/chev-down.png") no-repeat;
			bottom: 50px;
			left: 50%;
			margin-left: -32px;
 
		}
	}
}

.content {
	width: 800px;
	margin: 120px auto 144px;
	// margin-bottom: 144px;

	&-divider {
		height: 24px;
		width: 100%;
		background: red;
	}
}

.profile-pic {
	width: 300px;
	float: left;
	margin-right: 40px;
}

.frame {
	width: 388px;
	float: left;
	margin-bottom: 24px;
	position: relative;

	&:nth-child(2n+1) {
		margin-right: 24px;
	}

	img {
		float: left;
	    margin-bottom: 24px;
	    width: 100%;
	    height: 192px;
	    background: @grey-10;
		background-image: url("@{base-url}/assets/src/img/dev/baseline.png") no-repeat center;
	}

	h3 {
		margin: 0;
		float: left;
		width: 100%;
	}

	p {
		margin-top: 0;
		font-size: 14px;
	}
}

.footer {
	border-top: 4px solid @colour-main;
	margin-top: 96px;
	padding: 72px 0 96px;
	clear: both;
	.clearfix();

	.container {
		text-align: center;
	}

	.btn-contact {
		border: 2px solid @colour-main;
		cursor: pointer;
		margin: 0 auto;
		padding: 10px 20px;
		font-weight: 600;
		// text-transform: uppercase;

		&:hover {
			// color: @colour-secondary;
			border-color: @colour-secondary;
		}
	}

	ul {
		margin: 24px 0;
	}

	li {
		list-style: none;
	}

	p {
		margin-top: 0;
	}
}

.to-top {
	position: fixed;
	bottom: 50px;
	right: 50px;
	background: url("@{base-url}/assets/dist/img/icons/chev-up.png") no-repeat;
	background-color: @colour-main;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 2px solid @colour-main;
	cursor: pointer;

	&:hover {
		background-color: @colour-secondary;
		border-color: @colour-secondary; 
	}
}

// Extentions
.spinner {
	width: 40px;
	height: 40px;
	margin: 100px auto;
	background-color: @colour-secondary;

	border-radius: 100%;  
	-webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
	animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}