/*
	GRID
	Author: Gregory Evans;
	Email: daypack@gmail.com
	Date: 17/12/2016
*/

.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.clearfix {
	.clearfix();
}

.col-3 {
	width: 250px;
	height: 24px * 8;
	float: left;
	.clearfix();

	&:nth-child(even) {
		margin: 0 24px;
	}
}