/*
	TYPOGRAPHY
	Author: Gregory Evans;
	Email: daypack@gmail.com
	Date: 17/12/2016
*/

// VERTICAL RYTHM
@base-font-size: 16px;
@line-height: 24px;


// FONTS
@import url('https://fonts.googleapis.com/css?family=Poppins:600|Slabo+27px');

@headline: 'Poppins';
@copy: 'Slabo 27px';

body {
	font-family: @copy, serif;
}

// GENERATE HEADINGS
.generate-headings(5);

.generate-headings(@i) when (@i > 0) {

    .generate-headings((@i - 1));

    h@{i} {
		font-family: @headline, serif;
    }
}

h1 {
	font-size: 48px;
	line-height: 48px;
	margin: 48px 0; 
}

h2 {
	font-size: 32px;
	line-height: 32px;
	margin: 32px 0;
}

h3 {
	font-size: 28px;
	line-height: 28px;
	margin: 28px 0;
}

h3 {
	font-size: 24px;
	line-height: 24px;
	margin: 24px 0;
}

h4 {
	font-size: 18px;
	line-height: 24px;
	margin: 24px 0;
}

p {	
	font-size: 16px;
	line-height: 24px;
	margin: 24px 0;
}

ul {
	padding-left: 0;
}

a {
	text-decoration: none;
}